.ipg-wrapper {
    .ipg-label {
        min-width: 100px;
        text-align: end;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 30px;
    }
    .ipg-form-feedback {
        margin-left: 130px;
    }
}
