.admin-notify-container {
    h2,
    h3,
    h4,
    p {
        word-wrap: break-word;
    }
}

.admin-notify-item {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    &:hover {
        background-color: var(--color-4);
    }
}
.admin-notify-item.selected {
    background-color: var(--color-4);
    border: 1px solid var(--color-5);
}
