@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import '~/node_modules/bootstrap/scss/bootstrap';
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/animations/scale.css';

:root {
    --primary-color: purple;
    --black: #000000;
    --white: #ffffff;
    --background-color: #f6f9fc;
    --text-color: #333;
    --text-input: #828282;
    --background-input: #949494;
    --hover-color: #d3d3d3;
    --tippy-background: #432275;
    --scrollbar-color: #c7c7c7;
    --color-1: #83951c;
    --color-2: #455e14;
    --color-3: #bdd299;
    --color-4: #e5eeda;
    --color-5: #7a9b57;
    --color-6: #f87d08;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
    overflow: overlay;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    text-decoration: none;
}

///scrollbar
html *::-webkit-scrollbar {
    width: 6px;
}

html *::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 4px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}
html *::-webkit-scrollbar-track {
    box-shadow: inset #fff;
    border-radius: 4px;
}

html *::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.offcanvas {
    width: auto !important;
    min-width: 300px;
    background-color: var(--white);
    .offcanvas-header {
        background-color: #f2f2f2;
    }
}
//green width

// @media (min-width: 576px) {
//     .container {
//     }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//     .container {
//     }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//     .container {
//     }
// }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .container {
        max-width: 1260px;
    }
}

@keyframes fade {
    from {
        opacity: 0;
        top: calc(100% + 30px);
    }
    to {
        opacity: 1;
        top: calc(100% + 10px);
    }
}
