.header-menu {
    z-index: 1000;
    width: 224px;
    background-color: var(--color-2) !important;
    border-radius: 10px;
    overflow: hidden;
    .menu__item {
        width: 100%;
        border-radius: 0;
        color: var(--white);
        background-color: transparent;
        justify-content: start;
        font-weight: 400;
        padding: 11px 16px;
        + .menu__item {
            margin-left: 0;
        }
        &:hover {
            background-color: var(--color-1);
        }
        &.separate__top {
            border-top: 1px solid var(--background-input);
        }
        &.separate__bottom {
            border-bottom: 1px solid var(--background-input);
        }
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-options {
    overflow-y: auto;
}

.menu-header {
    height: 50px;
    margin-top: -8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.header-btn {
    width: 50px;
    height: 100%;
    font-size: 1.8rem;
    position: absolute;
    left: 0;
    color: var(--white);
    background-color: transparent;
    cursor: pointer;
}
