.main {
    text-align: center;
    margin-top: 30px;
}

.imgs-pd {
    overflow-y: hidden;
}

.thumbnail + .thumbnail {
    padding-left: 10px;
}
.clicked {
    border: 5px solid black;
}

.pd-slider-img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.options-label {
    width: 100px;
}

.add-product-btn {
    width: 50%;
    height: 50px;
    transition: all ease 0.3s !important;
    &:hover {
        opacity: 0.7;
    }
}

.img-slide {
    position: relative;

    &:hover {
        .carousel-control-prev,
        .carousel-control-next {
            display: flex;
        }
        .full-green {
            display: block;
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
        margin: auto 0;
        width: 50px;
        height: 50px;
        border-radius: 9999px;
        background-color: rgba($color: #000000, $alpha: 0.5) !important;
    }
    .full-green {
        width: 30px;
        height: 30px;
        border-radius: 9999px;
        padding: 0;
        text-align: center;
        background-color: rgba($color: #000000, $alpha: 0.5) !important;
        color: var(--white);
        line-height: 3rem;
        position: absolute;
        display: none;
        top: 5%;
        right: 5%;
        opacity: 0.7;
        transition: all ease 0.3s;
        &:hover {
            opacity: 1;
        }
    }
}

.description-container {
    figure {
        display: flex;
        justify-content: center;
        img {
            width: 80%;
        }
    }
}

.product-detail {
    font-size: 2rem;
}

.product-detail-price {
    p {
        font-size: 2.5rem;
        font-weight: 500;
        color: var(--color-6);
    }
}
