.main {
    text-align: center;
    margin-top: 30px;
}

.imgs-pd {
    overflow-y: hidden;
}

.thumbnail + .thumbnail {
    padding-left: 10px;
}
.clicked {
    border: 5px solid black;
}

.product-detail {
}

.pd-img {
    width: 100%;
    min-height: 300px;
    max-height: 500px;
    object-fit: contain;
}

.product-quantity {
    .form-control {
        width: 30px;
        height: 30px;
        border-radius: 0;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 0;
        text-align: center;
    }
    .add-btn,
    .decrease-btn {
        border: 1px solid black;
        background-color: var(--black);
        padding: 0 5px;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all ease 0.3s;
        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
    }
}

.options-label {
    width: 100px;
}

.add-product-btn {
    width: 50%;
    height: 50px;
    transition: all ease 0.3s !important;
    &:hover {
        opacity: 0.7;
    }
}
