.header-nav {
    width: 100%;
}

.header-main-nav {
    .nav-item {
        position: relative;
        line-height: 1.3rem;
        .nav-item-label,
        .nav-item-icon {
            color: var(--black);
            font-size: 1.3rem;
            font-weight: 500;
            transition: all 0.5s ease;
        }
    }
    .nav-item:hover {
        .nav-item-label {
            color: var(--color-1);
        }
        .nav-item-icon {
            transform: rotate(180deg);
            color: var(--color-1);
        }
    }
}

.header-offcanvas-nav {
    display: flex;
    flex-direction: column;
    .nav-item {
        padding: 5px 20px;
        border-top: 1px solid #ccc;
        font-size: 1.3rem;
        box-sizing: border-box;
        .nav-item-label,
        .nav-item-icon {
            cursor: pointer;
            padding: 5px 10px;
        }

        .nav-item-icon {
            transition: all 0.5s ease;
        }

        .nav-item-label:hover,
        .nav-item-icon:hover {
            color: var(--color-6);
        }
    }

    .nav-item-collapse {
        max-width: 300px;
        margin: 10px 0 0 10px;
    }
}
