.cart-item {
    width: 100%;
    min-width: 300px;
    max-height: 60px;
    &:hover {
        background-color: var(--color-4);
    }
    .cart-item-img {
        border-radius: 10px;
        overflow: hidden;
        img {
            height: 55px;
            width: 55px;
            object-fit: cover;
        }
    }
    .cart-item-content {
        margin-left: 10px;
    }

    .cart-item-remove {
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 999px;

        &:hover {
            color: var(--white);
            background-color: var(--color-6);
            transition: all 0.3s ease;
        }
    }
}
