.cart-container {
    height: 100%;
    display: flex;
    align-items: center;
}
.cart-wrapper {
    position: relative;
    cursor: pointer;
    &:hover {
        .cart-list-popper {
            display: block;
        }
    }
}
.cart-wrapper:hover {
    .cart-top {
        top: calc(-50% + 4px);
    }
    .cart-bottom {
        background-color: var(--black);
        span {
            color: var(--white);
        }
    }
}

.cart-label {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-color);
}

.cart-bottom {
    position: relative;
    z-index: 10;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    span {
        font-weight: 600;
    }
}

.cart-top {
    z-index: 0;
    width: 20px;
    height: 30px;
    border-radius: 999px;
    border: 2px solid var(--black);
    position: absolute;
    top: calc(-50% + 6px);
    right: 5px;
    transition: all 0.2s ease;
}

.cart-list {
    min-width: 400px;
    .cart-list-header {
        border-bottom: 1px solid #ccc;
    }
}
