.cart-container {
    height: 100%;
    display: flex;
    align-items: center;
}
.cart-wrapper {
    position: relative;
    cursor: pointer;
    &:hover {
        .cart-list-popper {
            display: block;
        }
    }
}
.cart-wrapper:hover {
    .cart-top {
        top: calc(-50% + 4px);
    }
    .cart-bottom {
        background-color: var(--black);
        span {
            color: var(--white);
        }
    }
}

.cart-label {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-color);
}

.cart-bottom {
    position: relative;
    z-index: 10;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    span {
        font-weight: 600;
    }
}

.cart-top {
    z-index: 0;
    width: 20px;
    height: 30px;
    border-radius: 999px;
    border: 2px solid var(--black);
    position: absolute;
    top: calc(-50% + 6px);
    right: 5px;
    transition: all 0.2s ease;
}

.cart-list-popper {
    position: absolute;
    display: none;
    top: calc(100% + 10px);
    right: 0;
    background-color: var(--color-2);
    animation: fade 0.3s ease;
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 10px;
        top: -10px;
    }
}

.cart-item {
    width: 100%;
    min-width: 300px;
    max-height: 60px;
    background-color: var(--color-1);
    .cart-item-img {
        img {
            height: 55px;
            width: 55px;
            object-fit: cover;
        }
    }
    .cart-item-content {
        margin-left: 10px;
    }

    .cart-item-remove {
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 999px;

        &:hover {
            color: var(--white);
            background-color: var(--color-6);
            transition: all 0.3s ease;
        }
    }
}
