.header-container {
    --border-radius: 20px;
    --border__radius-small: 10px;

    --active-color: rgba(213, 0, 213, 0.5);
    box-shadow: 0px 2px 1px rgb(0 0 0 / 12%);
    background: var(--white);
    z-index: 1000;
}

.header-wrapper {
    width: 100%;
}

//Header-top
.header-top {
    background-color: var(--black);
    color: var(--white);
}

.header-top-nav {
    font-size: 1.4rem;
    font-weight: 300;
    list-style: none;
    .nav-item {
        opacity: 0.8;
        color: var(--white);
        .nav-item-label {
            color: var(--white);
        }
    }
}

.nav-item.is-active {
    opacity: 1;
}

.nav-item + .nav-item {
    margin-left: 10px;
}

//Main header
.notice-quantity-user {
    position: absolute;
    right: -3px;
    bottom: -4px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--black);
    border-radius: 9999px;
    background-color: var(--white);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.main-header {
    min-height: 30px;
    padding: 10px 0;
    background-color: #f8f9fa;
}
.main-header-contents {
    height: 100%;
}
.nav-mini {
    font-size: 2rem;
}

.inner-search {
    margin: 0 40px !important;
}
.options__list {
    height: 100%;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    .header-user-name {
        min-width: 40px;
        text-align: end;
        font-weight: 600;
        margin-right: 10px;
        color: var(--text-color);
    }
    &:hover {
        .current-user {
            border-color: var(--color-6);
        }
    }
}

.options__item {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    color: #fff;
    cursor: pointer;
    + .options__item {
        margin-left: 15px;
    }
    .upload {
        background-color: #3a4460;
    }
}

.current-user {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border: 1px solid var(--white);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
}

.header__menu-icon {
    padding: 0 10px;
    border-radius: 999px;
    font-size: 2rem;
    line-height: 36px;
    text-align: center;
    &:hover {
        opacity: 0.8;
        background-color: var(--hover-color);
    }
}

.user-menu-item {
    color: var(--black);
}

.header-logo {
    position: relative;
    .header-nav-menu {
        z-index: 1000;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .header-user-avatar {
        z-index: 1000;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

.nav-search {
    position: relative;
    &:hover {
        .nav-search-popper {
            display: block;
        }
    }
}
.nav-notify-icon,
.nav-search-icon {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 1.7rem;
    border: 2px solid var(--black);
    border-radius: 999px;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

.nav-notify-popper {
    .notify-list {
        min-width: 200px;
        max-height: 500px;
        overflow: overlay;
    }
}

.nav-search-popper {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: var(--white);
    box-shadow: 0px 4px 10px rgb(0 0 0 / 22%);
    position: relative;
    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        background-color: var(--white);
        box-shadow: 0px 4px 10px rgb(0 0 0 / 22%);
        top: -10px;
        right: 5px;
        transform: rotate(45deg);
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        background-color: var(--white);
        top: -10px;
        right: 5px;
        transform: rotate(45deg);
    }
}

.header-fixed-container {
    background-color: var(--color-1);
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 22%);
    animation: header-animation 0.5s ease;
}

.header-fixed-wrapper {
    padding: 10px 16px;
}

@keyframes header-animation {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}

//Mobile
@media (max-width: 767.98px) {
    .slogan {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .header-logo {
        justify-content: start;
    }
}
@media (max-width: 991.98px) {
    .header-logo {
        justify-content: center;
    }
}
