.admin-manage-order-container {
    h3,
    h4 {
        color: var(--text-color-2);
        font-weight: 600;
    }
}

.bg-total {
    background-color: #5ddff9 !important;
}
.bg-success {
    background-color: #97ff60 !important;
}

.bg-waiting {
    background-color: #ffb517 !important;
}

.bg-delivery {
    background-color: rgb(35, 114, 251) !important;
}

.bg-cancel {
    background: rgb(172, 172, 172) !important;
}

.statistical-wrapper {
    display: flex;
    .statistical-icon {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
    }
    .statistical-describe {
        flex: 1;
        display: flex;
        flex-direction: column;
        h4 {
            margin: 0;
        }
        p {
            margin: 0;
            font-size: 1.5rem;
            color: #c0c0c0;
        }
    }
}

.statistical-tabs > li > button {
    color: var(--black);
    font-weight: 600;
    &:hover {
        color: var(--color-1);
    }
    &:active {
        color: var(--color-6);
    }
}
.admin-order-list {
    border-bottom: 2px solid #ccc;
    .order-list-item {
        font-weight: 500;
        cursor: pointer;
        &:hover {
            border-radius: 10px;
            background-color: var(--color-4);
        }
    }
}

.admin-order-list-title {
    font-weight: 600;
    color: var(--text-color-2);
}

.no-order {
    color: var(--text-color-2);
    div {
        margin: 90px 0;
        .no-order-icon {
            font-size: 5rem;
        }
        p {
            text-align: center;
            margin: 0;
            font-size: 3rem;
            font-weight: 500;
        }
    }
}
