.product-sales-chart-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgb(3 0 71 / 12%);
    background-color: var(--white);
    input {
        max-width: 70px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-weight: 500;
    }
}
