.admin-container {
    height: 100vh;
    overflow: hidden;
    background-color: #f5f5f5;
    .admin-sidebar {
        padding: 0;
    }
    .admin-content {
        height: 100vh;
        overflow: overlay;
        .admin-content-top {
            min-height: 60px;
            padding: 0;
            background-color: var(--white);
            box-shadow: 0px 2px 1px rgb(0 0 0 / 12%);
        }
        .admin-content-bottom {
            margin: 10px 0;
        }
    }
}

.content-box {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgb(3 0 71 / 12%);
    background-color: var(--white);
}
