.admin-container {
    height: 100vh;
    overflow: hidden;
    background-color: #f5f5f5;
    .admin-sidebar {
        padding: 0;
    }
    .admin-content {
        height: 100vh;
        overflow: overlay;
        .admin-content-top {
            min-height: 60px;
            position: relative;
            padding: 0;
            background-color: var(--white);
            box-shadow: 0px 2px 1px rgb(0 0 0 / 12%);
            .admin-menu {
                z-index: 10;
                width: 100px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-right: 20px;
                .admin-menu-icon {
                    font-size: 2.5rem;
                    margin-right: 20px;
                    color: var(--color-2);
                }
                .admin-avatar {
                    width: 35px;
                    height: 35px;
                    object-fit: cover;
                    border: 1px solid var(--white);
                    border-radius: 50%;
                    font-size: 2rem;
                    color: var(--white);
                    cursor: pointer;
                }
            }
        }
        .admin-content-bottom {
            margin: 10px 0;
        }
    }
}

.admin-avatar-menu {
    min-width: 150px;
    .admin-avatar-menu-option {
        padding: 10px;
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--text-color);
        &:hover {
            background-color: var(--color-4);
            border-radius: 10px;
        }
    }
}

.btn-go-top {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    right: 50px;
    bottom: 30px;
    font-size: 4rem;
    border-radius: 9999px;
    background: linear-gradient(120deg, var(--color-3), var(--color-6));
    cursor: pointer;
    .btn-go-top-icon {
        color: var(--white);
    }
    &:hover {
        opacity: 0.8;
    }
}

.admin-notice-wrapper {
    min-width: 300px;
}

.admin-notice-option {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.notice-quantity {
    position: absolute;
    right: 11px;
    bottom: -4px;
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    background-color: var(--color-2);
    color: var(--color-4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
