.sidebar-wrapper {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    padding-bottom: 54px;
    position: relative;
    display: flex;
    flex-direction: column;

    .sidebar-title {
        font-size: 2rem;
        font-weight: 500;
        color: var(--black);
        opacity: 0.6;
    }
}

.nav-item {
    border-radius: 10px;
    cursor: pointer;
    p {
        font-size: 1.8rem;
        padding: 10px;
    }
    &:hover {
        background-color: var(--color-4);
    }
}

.price-range-slider {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    p {
        margin: 0;
    }

    input {
        width: 100%;
        padding: 10px;
        font-weight: 500;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}
